<!DOCTYPE html>
<html lang="en">


<head>

    <%- include('partials/header'); -%>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lovers+Quarrel" rel="stylesheet">

	<link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
	<link rel="stylesheet" href="css/animate.css">

	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<link rel="stylesheet" href="css/magnific-popup.css">

	<link rel="stylesheet" href="css/aos.css">

	<link rel="stylesheet" href="css/ionicons.min.css">

	<link rel="stylesheet" href="css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="css/jquery.timepicker.css">


	<link rel="stylesheet" href="css/flaticon.css">
	<link rel="stylesheet" href="css/icomoon.css">
	<link rel="stylesheet" href="css/style1.css">
	<link rel="stylesheet" href="css/style2.css">
	<script>document.getElementsByTagName("html")[0].className += " js";</script>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

	<%- include('partials/nav'); -%>
	<div class="baap">
		  <section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_4.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Menu</h1>
          <!--  <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Menu <i class="ion-ios-arrow-forward"></i></span></p>-->
          </div>
        </div>
      </div>
    </section>
	<section class="ftco-section">
		<div class="container">
		
			<div class="row">
				<div class="col-md-6 col-lg-4 menu-wrap">
					<div class="heading-menu text-center ftco-animate">
						<h3>Breakfast</h3>
					</div>
					<div class="menus d-flex ftco-animate">
						<div class="menu-img img" style="background-image: url(images/br1.jpg);"></div>
						<div class="text">
							<div class="d-flex">
								<div class="one-half">
									<h3>Idli</h3>
								</div>
								<div class="one-forth">
									<span class="price">100</span>
								</div>
							</div>
							<p><span>Rice</span>, <span>Dal</span>, <span>Chilli Paper</span></p>
							<a href="#0" id="1" class="cd-add-to-cart js-cd-add-to-cart addCart" data-price="10.99">Add To Cart</a>
						</div>
					</div>
					<div class="menus d-flex ftco-animate">
						<div class="menu-img img" style="background-image: url(images/br2.jpg);"></div>
						<div class="text">
							<a>
								<div class="d-flex">
									<div class="one-half">
										<h3>Dosa</h3>
									</div>
									<div class="one-forth">
										<span class="price">200</span>
									</div>
								</div>
								<p><span>Rice</span>, <span>Black Lentil</span></p>
							<a href="#1" id="2" class="cd-add-to-cart js-cd-add-to-cart addCart" data-price="24.99">Add To Cart</a>
						</div>
					</div>
					<div class="menus d-flex ftco-animate">
						<div class="menu-img img" style="background-image: url(images/br3.jpg);"></div>
						<div class="text">
							<a>
								<div class="d-flex">
									<div class="one-half">
										<h3>Vada</h3>
									</div>
									<div class="one-forth">
										<span class="price">140</span>
									</div>
								</div>
								<p><span>Rice</span>, <span>Dal</span></p>
							<a href="#1" id="3" class="cd-add-to-cart js-cd-add-to-cart addCart" data-price="24.99">Add To Cart</a>
						</div>
					</div>
					<div class="menus d-flex ftco-animate">
						<div class="menu-img img" style="background-image: url(images/br4.jpg);"></div>
						<div class="text">
							<a>
								<div class="d-flex">
									<div class="one-half">
										<h3>Upma</h3>
									</div>
									<div class="one-forth">
										<span class="price">120</span>
									</div>
								</div>
								<p><span>Semolina</span>, <span>Ghee</span>, <span>Dal</span></p>
							<a href="#1" id="4" class="cd-add-to-cart js-cd-add-to-cart addCart" data-price="24.99">Add To Cart</a>
						</div>
					</div>
				</div>				
				<div class="col-md-6 col-lg-4 menu-wrap">
					<div class="heading-menu text-center ftco-animate">
						<h3>Lunch</h3>
					</div>
					<div class="menus d-flex ftco-animate">
						<div class="menu-img img" style="background-image: url(images/l1.jpg);"></div>
						<div class="text">
							<div class="d-flex">
								<div class="one-half">
									<h3>Butter Chicken</h3>
								</div>
								<div class="one-forth">
									<span class="price">320</span>
								</div>
							</div>
							<p><span>Chicken</span>, <span>Tomato</span>, <span>Tandoor</span></p>
							<a href="#0" id="5" class="cd-add-to-cart js-cd-add-to-cart addCart" data-price="10.99">Add To Cart</a>
						</div>
					</div>
					<div class="menus d-flex ftco-animate">
						<div class="menu-img img" style="background-image: url(images/l2.jpg);"></div>
						<div class="text">
							<a>
								<div class="d-flex">
									<div class="one-half">
										<h3>Lamb Vindaloo</h3>
									</div>
									<div class="one-forth">
										<span class="price">440</span>
									</div>
								</div>
								<p><span>Lamb</span> <span>Onion</span>, <span>Vindaloo</span></p>
							<a href="#1" id="6" class="cd-add-to-cart js-cd-add-to-cart addCart" data-price="24.99">Add To Cart</a>
						</div>
					</div>
					<div class="menus d-flex ftco-animate">
						<div class="menu-img img" style="background-image: url(images/l3.jpg);"></div>
						<div class="text">
							<a>
								<div class="d-flex">
									<div class="one-half">
										<h3>Chicken Biryani</h3>
									</div>
									<div class="one-forth">
										<span class="price">380</span>
									</div>
								</div>
								<p><span>Marinated Chicken</span>, <span>Cashews</span>, <span>Rice</span></p>
							<a href="#1" id="7" class="cd-add-to-cart js-cd-add-to-cart addCart" data-price="24.99">Add To Cart</a>
						</div>
					</div>
					<div class="menus d-flex ftco-animate">
						<div class="menu-img img" style="background-image: url(images/l4.jpg);"></div>
						<div class="text">
							<a>
								<div class="d-flex">
									<div class="one-half">
										<h3>Schezwan Noodles</h3>
									</div>
									<div class="one-forth">
										<span class="price">290</span>
									</div>
								</div>
								<p><span>Fresh veggies</span>, <span>Schezwan Sauces</span></p>
							<a href="#1" id="8" class="cd-add-to-cart js-cd-add-to-cart addCart" data-price="24.99">Add To Cart</a>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 menu-wrap">
					<div class="heading-menu text-center ftco-animate">
						<h3>Dinner</h3>
					</div>
					<div class="menus d-flex ftco-animate">
						<div class="menu-img img" style="background-image: url(images/dr1.jpg);"></div>
						<div class="text">
							<div class="d-flex">
								<div class="one-half">
									<h3>Paneer Butter Masala</h3>
								</div>
								<div class="one-forth">
									<span class="price">230</span>
								</div>
							</div>
							<p><span>Paneer</span>, <span>Onion</span>, <span>Cream</span></p>
							<a href="#0" id="9" class="cd-add-to-cart js-cd-add-to-cart addCart" data-price="10.99">Add To Cart</a>
						</div>
					</div>
					<div class="menus d-flex ftco-animate">
						<div class="menu-img img" style="background-image: url(images/dr2.jpg);"></div>
						<div class="text">
							<a>
								<div class="d-flex">
									<div class="one-half">
										<h3>Veg Biryani</h3>
									</div>
									<div class="one-forth">
										<span class="price">220</span>
									</div>
								</div>
								<p><span>Fresh Veggies</span>, <span>Cashew</span>, <span>Rice</span></p>
							<a href="#1" id="10" class="cd-add-to-cart js-cd-add-to-cart addCart" data-price="24.99">Add To Cart</a>
						</div>
					</div>
					<div class="menus d-flex ftco-animate">
						<div class="menu-img img" style="background-image: url(images/dr3.jpg);"></div>
						<div class="text">
							<a>
								<div class="d-flex">
									<div class="one-half">
										<h3>Chicken Tikka Masala</h3>
									</div>
									<div class="one-forth">
										<span class="price">300</span>
									</div>
								</div>
								<p><span>Chicken</span>, <span>Tomato</span>, <span>Onion</span></p>
							<a href="#1" id="11" class="cd-add-to-cart js-cd-add-to-cart addCart" data-price="24.99">Add To Cart</a>
						</div>
					</div>
					<div class="menus d-flex ftco-animate">
						<div class="menu-img img" style="background-image: url(images/dr4.jpg);"></div>
						<div class="text">
							<a>
								<div class="d-flex">
									<div class="one-half">
										<h3>Egg Fried Rice</h3>
									</div>
									<div class="one-forth">
										<span class="price">280</span>
									</div>
								</div>
								<p><span>Egg</span>, <span>Fresh Veggies</span>, <span>Rice</span></p>
							<a href="#1" id="12" class="cd-add-to-cart js-cd-add-to-cart addCart" data-price="24.99">Add To Cart</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-lg-4 menu-wrap">
					<div class="heading-menu text-center ftco-animate">
						<h3>Desserts</h3>
					</div>
					<div class="menus d-flex ftco-animate">
						<div class="menu-img img" style="background-image: url(images/D1.jpg);"></div>
						<div class="text">
							<div class="d-flex">
								<div class="one-half">
									<h3>Gulab Jamun</h3>
								</div>
								<div class="one-forth">
									<span class="price">240</span>
								</div>
							</div>
							<p><span>Khoya</span>, <span>Sugar Syrup</span></p>
							<a href="#0" id="13" class="cd-add-to-cart js-cd-add-to-cart addCart" data-price="10.99">Add To Cart</a>
						</div>
					</div>
					<div class="menus d-flex ftco-animate">
						<div class="menu-img img" style="background-image: url(images/D2.jpg);"></div>
						<div class="text">
							<a>
								<div class="d-flex">
									<div class="one-half">
										<h3>Gajar Ka Halwa</h3>
									</div>
									<div class="one-forth">
										<span class="price">350</span>
									</div>
								</div>
								<p><span>Carrot</span>, <span>Milk</span>, <span>Nuts</span>, <span>Varq</span></p>
							<a href="#1" id="14" class="cd-add-to-cart js-cd-add-to-cart addCart" data-price="24.99">Add To Cart</a>
						</div>
					</div>
					<div class="menus d-flex ftco-animate">
						<div class="menu-img img" style="background-image: url(images/D3.jpg);"></div>
						<div class="text">
							<a>
								<div class="d-flex">
									<div class="one-half">
										<h3>Modak</h3>
									</div>
									<div class="one-forth">
										<span class="price">325</span>
									</div>
								</div>
								<p><span>Coconut</span>, <span>Jaggery</span>, <span>Nutmeg</span>, <span>Saffron</span></p>
							<a href="#1" id="15" class="cd-add-to-cart js-cd-add-to-cart addCart" data-price="24.99">Add To Cart</a>
						</div>
					</div>
					<div class="menus d-flex ftco-animate">
						<div class="menu-img img" style="background-image: url(images/D4.jpg);"></div>
						<div class="text">
							<a>
								<div class="d-flex">
									<div class="one-half">
										<h3>Payasam</h3>
									</div>
									<div class="one-forth">
										<span class="price">130</span>
									</div>
								</div>
								<p><span>Rice</span>, <span>Milk</span>, <span>Cashew</span>, <span>Raisins</span></p>
							<a href="#1" id="16" class="cd-add-to-cart js-cd-add-to-cart addCart" data-price="24.99">Add To Cart</a>
						</div>
					</div>
				</div>				
				<div class="col-md-6 col-lg-4 menu-wrap">
					<div class="heading-menu text-center ftco-animate">
						<h3>Starters</h3>
					</div>
					<div class="menus d-flex ftco-animate">
						<div class="menu-img img" style="background-image: url(images/S1.jpg);"></div>
						<div class="text">
							<div class="d-flex">
								<div class="one-half">
									<h3>Kakori Kebabs</h3>
								</div>
								<div class="one-forth">
									<span class="price">160</span>
								</div>
							</div>
							<p><span>Onion</span>, <span>Lemon</span>, <span>Chaat masala</span>
							<a href="#0" id="17" class="cd-add-to-cart js-cd-add-to-cart addCart" data-price="10.99">Add To Cart</a>
						</div>
					</div>
					<div class="menus d-flex ftco-animate">
						<div class="menu-img img" style="background-image: url(images/S2.jpg);"></div>
						<div class="text">
							<a>
								<div class="d-flex">
									<div class="one-half">
										<h3>Microwave Paneer Tikka</h3>
									</div>
									<div class="one-forth">
										<span class="price">275</span>
									</div>
								</div>
								<p><span>Paneer</span>, <span>Chilli</span>, <span>Black paper</span>, <span>Yoghurt</span></p>
							<a href="#1" id="18" class="cd-add-to-cart js-cd-add-to-cart addCart" data-price="24.99">Add To Cart</a>
						</div>
					</div>
					<div class="menus d-flex ftco-animate">
						<div class="menu-img img" style="background-image: url(images/S3.jpg);"></div>
						<div class="text">
							<a>
								<div class="d-flex">
									<div class="one-half">
										<h3>Baked Chicken Seekh</h3>
									</div>
									<div class="one-forth">
										<span class="price">340</span>
									</div>
								</div>
								<p><span>Chicken</span>, <span>Eggs</span>, <span>Spices</span>
							<a href="#1" id="19" class="cd-add-to-cart js-cd-add-to-cart addCart" data-price="24.99">Add To Cart</a>
						</div>
					</div>
					<div class="menus d-flex ftco-animate">
						<div class="menu-img img" style="background-image: url(images/S4.jpg);"></div>
						<div class="text">
							<a>
								<div class="d-flex">
									<div class="one-half">
										<h3>Samosa</h3>
									</div>
									<div class="one-forth">
										<span class="price">35</span>
									</div>
								</div>
								<p><span>Potato</span>, <span>Peas</span>, <span>Spices</span>
							<a href="#1" id="20" class="cd-add-to-cart js-cd-add-to-cart addCart" data-price="24.99">Add To Cart</a>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 menu-wrap">
					<div class="heading-menu text-center ftco-animate">
						<h3>Beverages</h3>
					</div>
				
					<div class="menus d-flex ftco-animate">
						<div class="menu-img img" style="background-image: url(images/B1.jpg);"></div>
						<div class="text">
							<div class="d-flex">
								<div class="one-half">
									<h3>Lassi</h3>
								</div>
								<div class="one-forth">
									<span class="price">30</span>
								</div>
							</div>
							<p><span>Yoghurt</span></p>
							<a href="#0" id="21" class="cd-add-to-cart js-cd-add-to-cart addCart" data-price="10.99">Add To Cart</a>
						</div>
					</div>
					<div class="menus d-flex ftco-animate">
						<div class="menu-img img" style="background-image: url(images/B2.jpg);"></div>
						<div class="text">
							<a>
								<div class="d-flex">
									<div class="one-half">
										<h3>Masala Chai</h3>
									</div>
									<div class="one-forth">
										<span class="price">80</span>
									</div>
								</div>
								<p><span>Black Tea</span>, <span>Spices</span>, <span>Herbs</span></p>
							<a href="#1" id="22" class="cd-add-to-cart js-cd-add-to-cart addCart" data-price="24.99">Add To Cart</a>
						</div>
					</div>
					<div class="menus d-flex ftco-animate">
						<div class="menu-img img" style="background-image: url(images/B3.jpg);"></div>
						<div class="text">
							<a>
								<div class="d-flex">
									<div class="one-half">
										<h3>Thandai</h3>
									</div>
									<div class="one-forth">
										<span class="price">165</span>
									</div>
								</div>
								<p><span>Milk</span>, <span>Dry fruits</span></p>
							<a href="#1" id="23" class="cd-add-to-cart js-cd-add-to-cart addCart" data-price="24.99">Add To Cart</a>
						</div>
					</div>
					<div class="menus d-flex ftco-animate">
						<div class="menu-img img" style="background-image: url(images/S4.jpg);"></div>
						<div class="text">
							<a>
								<div class="d-flex">
									<div class="one-half">
										<h3>Kokum Sorbet</h3>
									</div>
									<div class="one-forth">
										<span class="price">110</span>
									</div>
								</div>
								<p><span>Kokum</span>, <span>Jeera</span>, <span>Salt</span>, <span>Sugar</span></p>
							<a href="#1" id="24" class="cd-add-to-cart js-cd-add-to-cart addCart" data-price="24.99">Add To Cart</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	
	</section>
	
    <footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6 col-lg-3 offset-lg-3">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Indiflav</h2>
              <p>Welcome to our online Restaurant ! Hope you enjoy our services of booking table ,ordering food !</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="https://instagram.com/neerudu_pavan?utm_medium=copy_link"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
		  </div>
		  
          <div class="col-md-6 col-lg-3">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Hours</h2>
              <ul class="list-unstyled open-hours">
                <li class="d-flex"><span>Monday</span><span>9:00 - 24:00</span></li>
                <li class="d-flex"><span>Tuesday</span><span>9:00 - 24:00</span></li>
                <li class="d-flex"><span>Wednesday</span><span>9:00 - 24:00</span></li>
                <li class="d-flex"><span>Thursday</span><span>9:00 - 24:00</span></li>
                <li class="d-flex"><span id="fuck">Friday</span><span>9:00 - 02:00</span></li>
                <li class="d-flex"><span id="fuck">Saturday</span><span>9:00 - 02:00</span></li>
                <li class="d-flex" ><span id="fuck">Sunday</span><span> Closed</span></li>
              </ul>
            </div>
          </div>
        </div>

		<div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made by 197256,197236,197173,197134
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>

	<div class="cd-cart cd-cart--empty js-cd-cart">
		<a href="#0" class="cd-cart__trigger text-replace">
			Cart
			<ul class="cd-cart__count"> <!-- cart items count -->
				<li>0</li>
				<li>0</li>
			</ul> <!-- .cd-cart__count -->
		</a>
	
		<div class="cd-cart__content">
			<div class="cd-cart__layout">
				<header class="cd-cart__header">
					<h2>Cart</h2>
					<span class="cd-cart__undo">Item removed. <a href="#0">Undo</a></span>
				</header>
				
				<div class="cd-cart__body" id="order_desc">
					<ul>
						<!-- products added to the cart will be inserted here using JavaScript -->
					</ul>
				</div>
				<footer class="confirm cd-cart__footer">
					<a href="/checkout"  class="confirm" id="confirm">
			      <em style="color:#ffffff">Confirm</em>
			</a>
				</footer>
				<footer class="cd-cart__footer">
					<a href="/checkout"  class="cd-cart__checkout" id="btn-checkout">
			      <em>Checkout - ₹<span id="total">0</span>
				<svg class="icon icon--sm" viewBox="0 0 24 24"><g fill="none" stroke="currentColor"><line stroke-width="2" stroke-linecap="round" stroke-linejoin="round" x1="3" y1="12" x2="21" y2="12"/><polyline stroke-width="2" stroke-linecap="round" stroke-linejoin="round" points="15,6 21,12 15,18 "/></g>
				</svg>
			  </em>
			  
			</a>
				</footer>
				
				
			  
			</a>
			</div>
		</div> <!-- .cd-cart__content -->
	</div> <!-- cd-cart -->
	
	

	<!-- loader -->
	<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
			<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
			<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
				stroke="#F96D00" />
		</svg></div>



	<script src="js/jquery.min.js"></script>
	<script src="js/jquery-migrate-3.0.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.easing.1.3.js"></script>
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/jquery.stellar.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/aos.js"></script>
	<script src="js/jquery.animateNumber.min.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/jquery.timepicker.min.js"></script>
	<script src="js/scrollax.min.js"></script>
	<script src="js/main.js"></script>
	<script src="js/util.js"></script> <!-- util functions included in the CodyHouse framework -->
    <script src="js/main1.js"></script>
	
	<script>

	//(function(){

		$('#btn-checkout').click(function(event){

			
		
			if(event)
			{
				event.preventDefault();
					var s1=$(order_name).toArray();
					
					 var a1="";
					s1.forEach(func1);
					function func1(value) {
  						//console.log(value.innerText);
						  a1+=value.innerText+"||";
					}

					var s2=$(rew1).toArray();	
					var a2="";
					s2.forEach(func2);
					function func2(value) {
  						//console.log(value.innerText);
						a2+=value.innerText+"||";
					}
					var s3=$(".reset").toArray();	
					var a3="";
					//console.log(s3);
					s3.forEach(func3);
					function func3(value) {
  						//console.log(value.innerText);
						a3+=value.value+"||";
					}
					var description="";
					var k=s3.length;
					for(var i=0; i<k; i++) {
						description+="{name:-"+s1[i].innerText+" ,price:-"+s2[i].innerText+" ,quantity:- "+s3[i].value+"\n }";
					}
					console.log(description);
				var order = {
					description:description,
					total:$("#total").text(),

				}
				//var fck=document.getElementsByClassName("reset");
				//console.log(fck[0].value);
				//console.log(a1);
				//console.log(a2);
				//console.log(order);

				$.ajax({
					url:'/menu',
					method: 'POST',
					data: order,
					success: function(resp){
						//console.log('order received'+ JSON.stringify(order));
						$('#btn-checkout').fadeToggle();
					//	$('#btn-check').fadeToggle();
					//	$('#btn-check').click();
						
						/*$.get('/pmt', (req, res,next)=>{
								console.log("hello");
    							
							})*/
						//console.log($("#btn-checkout"));
						//$('#btn-checkout').prop('id', 'fckoff'),
						//$('#fckoff').prop('href', '/pmt')
					},
					error: function(resp){
						console.log('error');
					}
				})
			 /*	axios({
            		method: 'post',
            		url: '/menu',
            		data: order
				 });*/
				return true;
			}
			
		})
	//})();
	</script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	</div>
</body>

</html>